apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - episode-generation-job.yaml

configMapGenerator:
  - name: episode-gen-runtime
    literals:
      - SCENE_ID=example-scene
      - BUCKET=example-bucket

images:
  - name: gcr.io/blueprint-project/blueprint-episode-gen
    newName: gcr.io/example-project/blueprint-episode-gen
    newTag: isaacsim
