apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - episode-generation-job.yaml

configMapGenerator:
  - name: episode-generation-vars
    literals:
      - PROJECT_ID=example-project
      - SCENE_ID=example-scene
      - BUCKET=example-bucket

vars:
  - name: PROJECT_ID
    objref:
      apiVersion: v1
      kind: ConfigMap
      name: episode-generation-vars
    fieldref:
      fieldpath: data.PROJECT_ID
  - name: SCENE_ID
    objref:
      apiVersion: v1
      kind: ConfigMap
      name: episode-generation-vars
    fieldref:
      fieldpath: data.SCENE_ID
  - name: BUCKET
    objref:
      apiVersion: v1
      kind: ConfigMap
      name: episode-generation-vars
    fieldref:
      fieldpath: data.BUCKET

images:
  - name: gcr.io/blueprint-project/blueprint-episode-gen
    newName: gcr.io/example-project/blueprint-episode-gen
    newTag: isaacsim
